.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background: $color-white;
  color: $color-black-primary;

  &__text {
    max-width: 700px;
    font-size: $font-size-medium;
    font-family: $font-family-bold;
    line-height: 30px;
    margin: 15px;
  }

  @media (max-width: 1250px) {
    padding-top: 60px;
  }

  @media (max-width: 460px) {
    padding-top: 60px;

    &__text {
      text-align: left;
    }
  }
}
