.advantages {
  display: inline-block;
  min-height: 351px;
  padding: 30px;
  background: $color-yellow;
  color: $color-black-primary;

  &__heading {
    font-size: 42px;
    font-weight: 500;
  }

  &__icons {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 760px) {
    &__icons {
      width: 100%;
      flex-wrap: wrap;
    }
  }
}
