.banner {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  max-height: 807px;
  box-shadow: 0px 2px 24px rgba(168, 175, 196, 0.3);

  &__container {
    width: 585px;

    &_purchase {
      background: $color-blue;
      color: $color-white;
    }

    &_info {
      background: $color-white;
      color: $color-grey;
    }
  }

  @media (max-width: 1000px) {
    width: 100%;
    flex-wrap: wrap;

    &__container {
      width: 100%;
    }
  }

  @media (max-width: 460px) {
    &__heading {
      font-size: 30px;
      line-height: 32px;
    }
  }
}
