.info {
  min-height: 400px;
  padding: 30px 15px;
  background: $color-white;

  &__heading {
    font-size: 42px;
    color: $color-black-primary;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__text {
    color: $color-grey;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    margin-top: 0;
  }

  &__icons {
    display: flex;
    justify-content: center;
    color: $color-black;
    font-size: 18px;
    line-height: 24px;
  }

  @media (max-width: 760px) {
    &__icons {
      width: 100%;
      flex-wrap: wrap;
    }

    &__text {
      text-align: left;
    }
  }
}
