.steps {
  display: flex;
  flex-direction: column;

  &__navigation {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 90px;
    color: black;
    margin: 40px;
    padding: 16px;
    text-align: left;
    transform: scale(1);
    text-decoration: none;
    border: 1px solid black;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: background, transform;
  }

  @media screen and (min-width: 760px) {
    &__item {
      &_rotate {
        transform: rotate(360deg);
        transition: transform 0.6s ease-in-out;
      }

      &_not {
        transform: none;
      }

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 2px 4px rgba(0,0,0, .1), 0 -2px 4px rgba(0,0,0, .1);
      }
    }
  }
}
