@import "./scss/colors.scss";
@import "./scss/vars.scss";
@import "./scss/app.scss";
@import "./scss/blocks/banner.scss";
@import "./scss/blocks/about.scss";
@import "./scss/blocks/label.scss";
@import "./scss/blocks/phone.scss";
@import "./scss/blocks/form.scss";
@import "./scss/blocks/checkbox.scss";

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Robotobold'), url(./fonts/Robotobold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-family-monospace;
}
