.app {
  width: 1200px;
  margin: auto;
  text-align: center;

  @media (max-width: 1240px) {
    width: 940px;
  }

  @media (max-width: 999px) {
    width: 760px;
  }

  @media (max-width: 760px) {
    width: 100%;
  }
}
