.app {
  width: 1170px;
  margin: auto;
  padding: 30px;

  @media (max-width: 1240px) {
    width: 940px;
  }

  @media (max-width: 999px) {
    width: 760px;
  }

  @media (max-width: 760px) {
    width: 100%;
  }

  @media (max-width: 500px) {
    padding: 0;
  }
}
