$color-white: #FFFFFF;
$color-blue: #3D3BFF;
$color-blue-dark: #2d2bc3;
$color-grey: #657195;
$color-silver: #FAFBFE;
$color-light-grey: #eff2f9;
$color-violet: #3D3BFF;
$color-black-primary: #000000;

$color-border-general: #E6E8F0;
