$color-yellow: #FBC238;
$color-white: #FFFFFF;
$color-black: #434343;
$color-black-primary: #262626;
$color-grey: #828282;
$color-light-skin: #fffcdc;
$color-light-glow: #fffcdc26;
$gradient-block: linear-gradient(90deg, #d9a7c7, $color-light-skin);
