$color-yellow: #FBC238;
$color-white: #FFFFFF;
$color-black: #434343;
$color-black-primary: #262626;
$color-grey: #828282;
$color-gradient: radial-gradient(66.01% 117.37% at 58.04% 62.5%, #D10032 13.62%, #BF0A33 48.65%, #B6032D 67.2%);
